{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Tanques</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                  <tbody>
                    {% for tanque in tanques %}
                    <tr class="unread">
                      <td>
                        <a href="{% url 'home:tanque' tanque.id_tanque %}"><h6 class="mb-1">{{ tanque.nombre }}</h6></a>
                        <p class="m-0">{{ tanque.distancia_cm }} cm</p>
                      </td>
                      <td>
                        <a href="{% url 'home:tanque' tanque.id_tanque %}" class="label theme-bg text-white f-12">Detalles</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
        </div>
      </div>
    </div>
</div>

{% endblock content %}